body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    background-color: #8a8f8d;
    margin-bottom: 10px;
    color: #ffffff
}

.container{
    display: flex;
    justify-content: center;
    width: 840px;
}

 .logo_register{ 
    background-color: #6341ff;
 }

 .title_register{
        background-color: #26484b;

 }

section {
    background-color: aqua;
}
