body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: #747474;
    padding: 20px 0;
    height: 100px;
    justify-content: center;
}

.container{
    display: flex;
    width: 840px;
}

.container h1{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}